/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/NombreLibroAuto/nbproject/private/
/Java/NombreLibroAuto/build/
/Java/NombreLibroAuto/dist/
/Java/DetallesLibro/nbproject/private/
/Java/DetallesLibro/build/
/Java/AreaPerimetro/target/
/Java/mayorDosNum/target/
/Java/estructura_if_else/target/
/Java/descuento_20/target/
/Java/par_multiplicar/target/
