/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/NombreLibroAuto/nbproject/private/
/Java/NombreLibroAuto/build/
/Java/NombreLibroAuto/dist/
/Java/DetallesLibro/nbproject/private/
/Java/DetallesLibro/build/
/Java/AreaPerimetro/target/
/Java/mayorDosNum/target/
/Java/estructura_if_else/target/
/Java/descuento_20/target/
/Java/par_multiplicar/target/
/Java/Clase_01/JavaApplication3/nbproject/private/
/Java/Clase_01/JavaApplication3/build/
/Java/Clase_02/HolaMundo2/nbproject/private/
/Java/Clase_02/HolaMundo2/build/
/Java/Clase_03/HolaMundo3/nbproject/private/
/Java/Clase_03/HolaMundo3/build/
/Java/Clase_04/HolaMundo4/nbproject/private/
/Java/Clase_04/HolaMundo4/build/
/Java/Clase_05/HolaMundo5/nbproject/private/
/Java/Clase_05/HolaMundo5/build/
/Java/Clase_06/HolaMundo6/nbproject/private/
/Java/Clase_06/HolaMundo6/build/
/Java/Clase_06/Ejercicio01_Tienda_Libros/nbproject/private/
/Java/Clase_07/Clase_07/nbproject/private/
/Java/Clase_07/Clase_07/build/
/Java/Clase_08/Clase_08/nbproject/private/
/Java/Clase_08/Clase_08/build/
/Java/Clase_08/Ejercicio_01_Sumar_Calificaciones/nbproject/private/
/Java/Clase_08/Ejercicio_01_Sumar_Calificaciones/build/
/Java/Clase_08/Ejercicio_03_N_Dolares/nbproject/private/
/Java/Clase_08/Ejercicio_03_N_Dolares/build/
/Java/Clase_08/Ejercicio_09_Salario/nbproject/private/
/Java/Clase_08/Ejercicio_09_Salario/build/
/Java/Clase_09/Teoria_Clase_09/nbproject/private/
/Java/Clase_09/Teoria_Clase_09/build/
/Java/Clase_09/Ejercicio_10/nbproject/private/
/Java/Clase_09/Ejercicio_10/build/
/Java/Clase_09/Ejercicio_11/nbproject/private/
/Java/Clase_09/Ejercicio_11/build/
/Java/Clase_09/Ejercicio_12/nbproject/private/
/Java/Clase_09/Ejercicio_12/build/
/Java/Clase_09/Ejercicio_13/nbproject/private/
/Java/Clase_09/Ejercicio_13/build/
/Java/Clase_09/Ejercicio_14/nbproject/private/
/Java/Clase_09/Ejercicio_14/build/
/Java/Clase_09/Ejercicio_01/nbproject/private/
/Java/Clase_06/Ejercicio_01_Tienda_libro/nbproject/private/
/Java/Clase_06/Ejercicio_01_Tienda_libro/build/
/Java/Clase_07/Ejercicio_07/nbproject/private/
/Java/Clase_07/Ejercicio_07/build/
/Java/Clase_07/Ejercicio_03/nbproject/private/
/Java/Clase_07/Ejercicio_03/build/
/Java/Clase_07/Ejercicio_15/nbproject/private/
/Java/Clase_07/Ejercicio_15/build/
/Java/Clase_09/Ejercicio_15/nbproject/private/
/Java/Clase_09/Ejercicio_15/build/
/Java/Clase_09/Ejercicio_17/nbproject/private/
/Java/Clase_09/Ejercicio_17/build/
/Java/Clase_09/Ejercicio_16/nbproject/private/
/Java/Clase_03/Ejercicio_01/nbproject/private/
/Java/Clase_01/Ejercicio_01/nbproject/private/
/Java/Clase_03/Ejercicio_2_/nbproject/private/
/Java/Clase_03/Ejercicio_01/build/
/Java/Clase_06/Ejercicio_03_/nbproject/private/
/Java/Clase_10/Ejercicio_17/nbproject/private/
/Java/Clase_10/Ejercicio_17/build/
/Java/Clase_10/Ejercicio_18/nbproject/private/
/Java/Clase_10/Ejerccio_18/nbproject/private/
/Java/Clase_10/Ejerccio_18/build/
/Java/Clase_10/Ejercicio_19/nbproject/private/
/Java/Clase_10/Ejercicio_19/build/
.venv/
.idea/
